html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2b2b2b;
 	color: white;
 	font-family: 'Overpass Mono', monospace;
 	text-shadow: 0 0 10px #fff,
 		     0 0 20px #fff,
 		     0 0 30px #fff,
 		     0 0 40px #228DFF,
 		     0 0 70px #228DFF,
 		     0 0 80px #228DFF,
 		     0 0 100px #228DFF,
 		     0 0 150px #228DFF;
}

#bomb-back {
	text-shadow: 0 0 10px #fff,
		     0 0 20px #fff,
		     0 0 30px #fff,
		     0 0 40px #2980b9,
		     0 0 70px #2980b9,
		     0 0 80px #2980b9,
		     0 0 100px #2980b9,
		     0 0 150px #2980b9;
}

canvas {
	z-index: 100;
	pointer-events: none;
	position: relative;
}

.bomb-side {
	height: 80vh;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.module-container {
	border-collapse: separate;
	border-spacing: 4px;
}

.module-container td {
	box-shadow: 0 0 25px #228DFF, 0 0 25px #228DFF inset;
	border: 2px solid white;
	width: 300px;
	min-width: 300px;
	height: 300px;
	text-align: center;
}

#bomb-back .module-container td {
	box-shadow: 0 0 25px #2980b9, 0 0 25px #2980b9 inset;
}

.module-container td.active-module {
	background-color: #3b3b3b;
}

.module-container td.module-fail, #bomb-back .module-container td.module-fail {
	background-color: #1b1b1b;
	box-shadow: 0 0 25px #e74c3c, 0 0 25px #e74c3c inset;
}

.module-container td.module-success, #bomb-back .module-container td.module-success {
	background-color: #1b1b1b;
	box-shadow: 0 0 25px #27ae60, 0 0 25px #27ae60 inset;
}

.fail-indicator {
	position: relative;
	display: table;
}

/* http://stackoverflow.com/questions/21956790/css-cross-through-an-element */
.fail-led {
	--glow-color: #808080;
	position: absolute;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 40px var(--glow-color), 0 0 20px var(--glow-color) inset;
	border: 1px solid #6d6d6d;
	background-color: #2b2b2b;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 100px;
	line-height: 75%;
	text-align: center;
	color: var(--background-color);
	opacity: 0.5;
	text-shadow: none;
	vertical-align: middle;
	overflow: hidden;
}

div.fail-led.on {
	--glow-color: #e74c3c;
	border: none;
	background-color: white;
	opacity: 1.0;
}

/*https://codepen.io/palimadra/pen/jHodC*/
.circle-btn {
	border: 0;
	display: inline-block;
	background-color: var(--background-color);
	background-image: 
	    linear-gradient(
	      167deg, 
	      rgba(255,255,255, 0.1) 50%, 
	      rgba(0,0,0, 0) 55%),
	    linear-gradient(
	      0deg, 
	      rgba(255,255,255, 0.15), 
	      rgba(0,0,0, 0));
	border-radius: 50%;
	box-shadow:
		0 0 0 1px var(--shadow-color-1) inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 var(--shadow-color-2),
		0 8px 0 1px rgba(0,0,0, 0.4),
		0 8px 8px 1px rgba(0,0,0, 0.5);
	color: #FFF;
	font-size: 22px;
	font-weight: bold;
	height: 150px;
	line-height: 150px;
	margin: 30px 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	top: 0;
	width: 150px;
	transition: all 0.15s;
}

.hover-btn {
	background-color: var(--shadow-color-2);
    box-shadow: 
    	0 0 0 1px var(--shadow-color-1) inset,
    	0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    	0 10px 0 0 var(--shadow-color-2),
    	0 10px 0 1px rgba(0,0,0, 0.4),
    	0 10px 8px 1px rgba(0,0,0, 0.6);
    top: -2px;
}

.active-btn {
	box-shadow: 
    	0 0 0 1px var(--shadow-color-1) inset,
    	0 0 0 2px rgba(255,255,255, 0.15) inset,
    	0 0 0 1px rgba(0,0,0, 0.4);
    transform: translateY(10px);
}

.knob-container {
	display: table-cell;
	vertical-align: middle;
}

.knob-led {
	--glow-color: #808080;
	position: absolute;
	width: 25px;
	height: 25px;
	box-shadow: 0 0 25px var(--glow-color), 0 0 8px var(--glow-color) inset;
	border: 1px solid #6d6d6d;
	background-color: #2b2b2b;
	border-radius: 50%;
}

div.knob-led.on {
	--glow-color: #228DFF;
	border: none;
	background-color: white;
}

div.knob-led.left {
	left: 15px;
}

div.knob-led.right {
	right: 15px;
}

div.knob-led.top {
	top: 15px;
}

div.knob-led.bottom {
	bottom: 15px;
}

.knob-img {
	width: 200px;
	height: 200px;
	z-index: 1;
}

.knob-text {
	z-index: 10;
	position: relative;
	height: 15px;
	width: 100%;
	text-align: center;
	font-size: 12pt;
}

.knob-arrow {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	position: relative;
}

.wire-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.wire {
	height: 100%;
	width: 10px;
	display: inline-block;
	background-color: var(--background-color);
	box-shadow: 0 0  5px white, 0 0 6px white inset;
	border: 1px solid white;
	position: absolute;
	top: 0;
}

.wire.hover-wire {
	box-shadow: 0 0 15px white;
}

.wire.indicate-wire {
	box-shadow: 0 0 20px var(--shadow-color-1), 0 0 8px var(--shadow-color-2) inset;
}

.wire.cut-wire {
	background-color: #2b2b2b;
	box-shadow: 0 0 10px var(--shadow-color-1);
}

.red {
	--background-color: #b71c0c;
	--shadow-color-1: #c72c1c;
	--shadow-color-2: #a70c00;
}

.yellow {
	--background-color: #ffcf4b;
	--shadow-color-1: #fde3a7;
	--shadow-color-2: #f9bf3b;
}

.green {
	--background-color: #1e8246;
	--shadow-color-1: #377336;
	--shadow-color-2: #266325;
}

.blue {
	--background-color: #29c5ff;
	--shadow-color-1: #39d5ff;
	--shadow-color-2: #19b5fe;
}

.white {
	--background-color: #ececec;
	--shadow-color-1: #eeeeee;
	--shadow-color-2: #95a5a6;
}

.black {
	--background-color: #303030;
	--shadow-color-1: #404040;
	--shadow-color-2: #000000;
}