html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #2b2b2b;
	color: white;
	font-family: 'Overpass Mono', monospace;
	text-shadow: 0 0 10px #fff,
		     0 0 20px #fff,
		     0 0 30px #fff,
		     0 0 40px #228DFF,
		     0 0 70px #228DFF,
		     0 0 80px #228DFF,
		     0 0 100px #228DFF,
		     0 0 150px #228DFF;
}

#bomb-back {
	text-shadow: 0 0 10px #fff,
		     0 0 20px #fff,
		     0 0 30px #fff,
		     0 0 40px #2980b9,
		     0 0 70px #2980b9,
		     0 0 80px #2980b9,
		     0 0 100px #2980b9,
		     0 0 150px #2980b9;
}

canvas {
	z-index: 100;
	pointer-events: none;
	position: relative;
}

.bomb-side {
	height: 80vh;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.module-container {
	border-collapse: separate;
	border-spacing: 3px;
}

.module-container td{
	box-shadow: 0 0 20px #228DFF, 0 0 20px #228DFF inset;
	border: 1px solid white;
	width: 300px;
	min-width: 300px;
	height: 300px;
	text-align: center;
}

#bomb-back .module-container td{
	box-shadow: 0 0 20px #2980b9, 0 0 20px #2980b9 inset;
}

.module-container td.active-module {
	background-color: #3b3b3b;
}

.module-container td.module-fail, #bomb-back .module-container td.module-fail {
	background-color: #1b1b1b;
	box-shadow: 0 0 20px #e74c3c, 0 0 20px #e74c3c inset;

}

.module-container td.module-success, #bomb-back .module-container td.module-success {
	background-color: #1b1b1b;
	box-shadow: 0 0 20px #27ae60, 0 0 20px #27ae60 inset;
}

/*https://codepen.io/palimadra/pen/jHodC*/
.circle-btn {
	border: 0;
	display: inline-block;
	background-color: #296b27;
	background-image: 
	    linear-gradient(
	      167deg, 
	      rgba(255,255,255, 0.1) 50%, 
	      rgba(0,0,0, 0) 55%),
	    linear-gradient(
	      0deg, 
	      rgba(255,255,255, 0.15), 
	      rgba(0,0,0, 0));
	border-radius: 50%;
	box-shadow:
		0 0 0 1px #377336 inset,
		0 0 0 2px rgba(255, 255, 255, 0.15) inset,
		0 8px 0 0 #266325,
		0 8px 0 1px rgba(0,0,0, 0.4),
		0 8px 8px 1px rgba(0,0,0, 0.5);
	color: #FFF;
	font-size: 22px;
	font-weight: bold;
	height: 150px;
	line-height: 150px;
	margin: 30px 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	top: 0;
	width: 150px;
	transition: all 0.15s;
}

.hover-btn{
	background-color: #266325;
    box-shadow: 
      0 0 0 1px #377336 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 10px 0 0 #266325,
      0 10px 0 1px rgba(0,0,0, 0.4),
      0 10px 8px 1px rgba(0,0,0, 0.6);
    top: -2px;
}

.active-btn {
	box-shadow: 
      0 0 0 1px #377336 inset,
      0 0 0 2px rgba(255,255,255, 0.15) inset,
      0 0 0 1px rgba(0,0,0, 0.4);
    transform: translateY(10px);
  }

.knob-img {
	width: 200px;
	height: 200px;
	z-index: 1;
}

.knob-text {
	z-index: 10;
	position: relative;
	height: 15px;
	width: 100%;
	text-align: center;
	font-size: 12pt;
}

.knob-arrow {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	position: relative;
}

.wire-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.wire {
	height: 100%;
	width: 10px;
	display: inline-block;
	background-color: white;
	box-shadow: 0 0 5px white, 0 0 6px #27ae60 inset;
	border: 1px solid white;
	position: absolute;
	top: 0;
}

.wire.hover-wire {
	box-shadow: 0 0 10px white;
}

.wire.indicate-wire {
	box-shadow: 0 0 10px white, 0 0 8px white inset;
	background-color: rgba(231, 76, 60, 1);
}

.wire.cut-wire {
	background-color: #2b2b2b;
	box-shadow: 0 0 10px white;
}