<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Keep Talking and Nobody Explodes</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    
    <script type="text/javascript" src="lib/jquery.min.js"></script>

    <!-- Leap -->
    <script type="text/javascript" src="lib/leap.min.js"></script>
    <script type="text/javascript" src="lib/leap-plugins.min.js"></script>

    <!-- Underscore/Backbone -->
    <script type="text/javascript" src="lib/underscore.min.js"></script>
    <script type="text/javascript" src="lib/backbone.min.js"></script>

    <!-- Templates for module views -->
    <script type="text/template" id="bombSideTemplate">
        <h1><%= idText %></h1>
        <table class="module-container">
            <tr><td class="r1-c1"></td><td class="r1-c2"></td><td class="r1-c3"></td></tr>
            <tr><td class="r2-c1"></td><td class="r2-c2"></td><td class="r2-c3"></td></tr>
        </table>
    </script>
    <script type="text/template" id="wiresTemplate"></script>
    <script type="text/template" id="buttonTemplate">
        <%= buttonLabel %>
    </script>
    <script type="text/template" id="knobsTemplate">
        <div class="knob-led top left"></div>
        <div class="knob-led top right"></div>
        <div class="knob-container">
            <div class="knob-text"></div>
            <img src="./images/arrow.png" class="knob-arrow">
            <img src="./images/dial.png" class="knob-img">
        </div>
        <div class="knob-led bottom left"></div>
        <div class="knob-led bottom right"></div>
    </script>

    <!-- App code -->
    <script type="text/javascript" src="app/modules.js"></script>
    <script type="text/javascript" src="app/models.js"></script>
    <script type="text/javascript" src="app/main.js"></script>
  </head>
  <body>
  </body>
</html>
